.App{
  text-align: center;
}
.fieldBox {
  display: flex;
  border: solid 1px #ccc;
  width: fit-content;
  padding: 10px;
  margin: 10px;
}
.container{
  margin: auto;
  text-align: left;
  width: fit-content;
}
.container>button{
  margin-left: 20px;
}
select{
  width: 150px;
  margin: 0 10px;
}
.titles{
  display: flex;
  justify-content: space-around;
}
.submit{
 margin: 40px 0;
 padding: 10px 20px;
}

.listItem{
  display: flex;
  margin: auto;
  border: solid 1.5px #ccc;
  width: fit-content;
  justify-content: space-evenly;
}
.listItem>div, .listItem>h4{
  width: 250px;
}